.app {
    margin: 0 auto;
}

.button-primary{
    background-color: rgb(245, 69, 69);
    color: white;
    font-weight: bold;
    margin: 15px 10px;
}

.react-router-link{
    color: none;
    text-decoration: none;
}

.react-router-link-hover:hover{
    color: rgb(33, 37, 41) !important;
    transition: color 0.15, 0.15, 0.15 !important;
}