.container {
    padding: 20px 0 100px;
}
.items {
    padding-top: 80px;
}
.search {
    display: flex;
    justify-content: flex-end;
}
.search input {
    border-radius: 30px;
    padding-left: 30px;
    width: 270px;
}
.filter-nav-bar {
    margin: 0 auto;
    max-width: 1300px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filtres {
    display: flex;
}
.filtres-select {
    width: 200px;
    margin-right: 20px;
    border-radius: 10px;
}